antlr4-python3-runtime==4.9.3
applicationinsights==0.11.10
azure-common==1.1.28
azure-nspkg==3.0.2
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==3.2.0
idna==3.4
invoke==1.7.3
jsondiff==2.0.0
py4j==0.10.9.7
pyreadline3==3.4.1
pyspark==3.4.0
python-dotenv==1.0.0
pytz==2022.7.1
requests==2.31.0
urllib3==2.0.5
urllib3-secure-extra==0.1.0
wrapt==1.15.0
xmltodict==0.13.0
zipp==3.15.0
